html {
  height: 100%;
  overflow-x: hidden; }
  html body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap; }
    html body nav {
      background-color: #EFEFEF;
      width: 20vw;
      height: 100%;
      position: fixed;
      z-index: 2; }
      html body nav div {
        height: 75%; }
        html body nav div img {
          width: 70%;
          margin: 15%; }
        html body nav div ul {
          list-style: none;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 0; }
          html body nav div ul li {
            width: 70%;
            margin: 0.5em 15%;
            color: #774D2A;
            font-weight: 900;
            align-self: center; }
            html body nav div ul li:hover {
              color: #CDAF66;
              cursor: hand;
              cursor: pointer; }
      html body nav .redes {
        width: 70%;
        height: 25%;
        margin: 0 15%;
        display: flex;
        justify-content: space-between; }
        html body nav .redes span {
          align-self: center;
          font-size: 28px;
          color: #774D2A; }
          html body nav .redes span:hover {
            color: #CDAF66;
            cursor: hand;
            cursor: pointer; }
    html body header {
      width: 80vw;
      margin-left: 20%;
      height: 100%;
      background-image: url("img/cafe-header.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat; }
      html body header h1, html body header h4 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        font-family: "Satisfy", cursive;
        font-size: 70px;
        margin-top: 1.2em;
        display: block;
        color: #EFEFEF;
        width: 100%;
        text-align: center; }
      html body header h4 {
        line-height: 0.8em;
        width: 0.5em;
        word-wrap: break-word;
        font-size: 32px;
        float: right;
        margin: 3%;
        font-weight: 400;
        display: block; }
      html body header .delAmor {
        margin-right: 5%; }
    html body .tiposCafe {
      width: 80vw;
      margin-left: 20%;
      height: 70%; }
      html body .tiposCafe h2 {
        font-size: 45px;
        text-align: center;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        padding-top: 1.1em;
        margin: 0; }
      html body .tiposCafe .fotosCafe {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%; }
        html body .tiposCafe .fotosCafe .lugar {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          width: 210px;
          height: 210px;
          background-size: cover; }
          html body .tiposCafe .fotosCafe .lugar p {
            font-family: "Satisfy", cursive;
            display: none;
            font-size: 30px;
            font-weight: 700; }
        html body .tiposCafe .fotosCafe .colombiano {
          background-image: url("img/colombiano.jpg"); }
        html body .tiposCafe .fotosCafe .etiope {
          background-image: url("img/etiope.jpg"); }
        html body .tiposCafe .fotosCafe .brasileno {
          background-image: url("img/brasileno.jpg"); }
        html body .tiposCafe .fotosCafe .ecuatoriano {
          background-image: url("img/ecuatoriano.jpg"); }
    html body .tiposCafe2 {
      display: none; }
    html body .seccionFrappe {
      background-image: url("img/cafetero.jpg");
      width: 80vw;
      margin-left: 20%;
      height: 90%;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; }
      html body .seccionFrappe .contenedorFrappe {
        height: 75%;
        position: relative;
        display: flex;
        align-self: flex-start; }
        html body .seccionFrappe .contenedorFrappe #frappe {
          display: none;
          position: absolute;
          height: 100%;
          z-index: 1; }
      html body .seccionFrappe article {
        display: flex;
        background-color: rgba(250, 250, 250, 0.5); }
        html body .seccionFrappe article .titularLorem {
          width: 25%;
          height: 25%;
          text-align: center;
          align-items: center; }
          html body .seccionFrappe article .titularLorem h4 {
            font-size: 18px; }
        html body .seccionFrappe article .textoLorem {
          width: 75%;
          height: 25%; }
    html body .bolsa {
      width: 80vw;
      margin-left: 20%;
      height: 80%;
      align-items: center;
      display: flex;
      justify-content: center; }
      html body .bolsa article {
        width: 80%;
        height: 80%;
        display: flex;
        box-shadow: 2px 2px 10px #999; }
        html body .bolsa article .bolsaImg {
          width: 25%;
          height: 100%;
          background-image: url("img/bolsa.jpg");
          background-size: cover;
          margin: 0;
          box-shadow: none; }
        html body .bolsa article .bolsaLorem {
          width: 75%;
          height: 100%;
          margin: 0;
          box-shadow: none;
          flex-wrap: wrap;
          justify-content: center; }
          html body .bolsa article .bolsaLorem h5 {
            font-size: 22px; }
          html body .bolsa article .bolsaLorem p {
            font-size: 18px;
            margin: 20px; }
    html body .carrusel {
      width: 80vw;
      margin-left: 20%;
      height: 95%;
      display: flex;
      justify-content: space-between;
      background-image: url("img/carrusel3.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
      html body .carrusel .flechas {
        width: 10%;
        height: 100%;
        background-color: rgba(239, 239, 239, 0.4);
        font-size: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: hand;
        cursor: pointer; }
    html body footer {
      width: 80vw;
      margin-left: 20%;
      height: 12%;
      background-color: black;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      html body footer a {
        text-decoration: none;
        color: white; }

@media only screen and (max-width: 1200px) and (orientation: portrait) {
  html body nav div {
    height: 50%; }
    html body nav div img {
      margin: 5%;
      width: 90%; }
    html body nav div ul {
      display: none; }
  html body nav .redes {
    flex-direction: column;
    height: 40%; }
    html body nav .redes span {
      font-size: 55px; }
  html body header {
    height: 90%; }
    html body header h1, html body header h4 {
      font-size: 72px; }
    html body header h4 {
      font-size: 50px;
      margin: 10% 4%; }
    html body header .delAmor {
      margin-right: 6%; }
  html body .tiposCafe h2 {
    padding-bottom: 1.1em; }
  html body .tiposCafe .fotosCafe {
    justify-content: center;
    flex-wrap: wrap; }
    html body .tiposCafe .fotosCafe .lugar {
      margin: 0 auto;
      width: 300px;
      height: 300px; }
    html body .tiposCafe .fotosCafe .ecuatoriano {
      padding-right: 25px; }
    html body .tiposCafe .fotosCafe .brasileno {
      padding-right: 25px; }
    html body .tiposCafe .fotosCafe .colombiano {
      padding-left: 25px; }
    html body .tiposCafe .fotosCafe .etiope {
      padding-left: 25px; }
  html body .seccionFrappe {
    display: none; }
  html body .bolsa {
    width: 100%;
    margin-left: 20%;
    height: 40%;
    align-items: center;
    display: flex;
    justify-content: center; }
    html body .bolsa article {
      width: 100%;
      height: 100%; }
      html body .bolsa article .bolsaImg {
        display: none; }
      html body .bolsa article .bolsaLorem {
        width: 100%;
        height: 100%;
        display: block; }
        html body .bolsa article .bolsaLorem .hablemos {
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: center; }
          html body .bolsa article .bolsaLorem .hablemos h5 {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0; }
        html body .bolsa article .bolsaLorem p {
          font-size: 24px;
          margin: 25px;
          height: initial; } }
@media only screen and (max-width: 900px) and (orientation: portrait) {
  html body header {
    height: 90%; }
    html body header h4 {
      display: none; }
  html body .tiposCafe {
    display: none; }
  html body .tiposCafe2 {
    display: block;
    width: 80%;
    margin-left: 20%;
    height: 70%; }
    html body .tiposCafe2 article {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      background-size: cover;
      justify-content: center; }
      html body .tiposCafe2 article h4 {
        font-size: 24px;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        margin: 0 1em;
        color: white; }
    html body .tiposCafe2 .nuestros h3 {
      font-size: 24px; }
    html body .tiposCafe2 .colombiano2 {
      background-image: url("img/colombiano2.jpg"); }
    html body .tiposCafe2 .brasileno2 {
      background-image: url("img/brasileno2.jpg"); }
    html body .tiposCafe2 .etiope2 {
      background-image: url("img/etiope2.jpg"); }
    html body .tiposCafe2 .ecuatoriano2 {
      background-image: url("img/ecuatoriano2.jpg"); }
  html body .seccionFrappe {
    display: none; }
  html body .carrusel {
    display: none; }
  html body footer {
    height: 25%;
    flex-wrap: wrap; }
  html body a {
    width: 50%;
    margin: 0;
    justify-content: center;
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
